@model MirrorArbProv.Models.EmailOptions


@{
    ViewData["Title"] = "mKey";
}

<!--CONTAINER-->
<div class="container-fluid" id="top">

    <!--MAIN LOGO-->
    <div class="row">
        <div class="mainLogo">
            <img src="~/images/mkey-logotest.png" class="img-responsive center-block" />
        </div>
    </div>

    <!--TEXT CONTENT 1 "VÄLKOMMEN"-->
    <div class="row">
        <div class="text-con1" id="welcome" style="padding-bottom: 20px; text-align: center;">
            <h2 class="text-center"><span class="glyphicon glyphicon-chevron-right" style="color: #32edcb; margin: 5px;"></span>Enkel lösenordshantering för ditt företag!</h2>
            <p>Trött på att skriva ner alla lösenord på lappar?<br/></p>
            <p>mKey skapar en möjlighet för ditt företag att lagra inloggningsuppgifter, koder och annan känslig information på ett tryggt och säkert sätt. Du behöver aldrig mer oroa dig om säkerheten av dina lösenord.</p>
            <p>Vår tjänst mKey löser ditt problem. mKey är lika enkel att använda som en post-it lapp men betydligt säkrare.</p>
        </div>
    </div>

    <!--IMAGE 1-->
    <div class="row">
        <div class="photoSec1 img-responsive">
        </div>
    </div>

    <!--SÄKERHET-->
    <div class="row">
        <div class="text-con1" id="mKey" style="padding-bottom: 20px; text-align: center;">
            <h2 class="text-center"><span class="glyphicon glyphicon-chevron-right" style="color: #32edcb; margin: 5px;"></span>Säkerheten framför allt</h2>
            <p>mKey använder sig av en smart och säker kryptering för att hantera känslig data. mKey erbjuder även en möjlighet till att få larmnotifikationer vid onormal aktivitet på systemet. Vi sätter säkerheten i fokus då det är en viktig del i processen.</p>
            <p>mKey har en adaptiv design som är anpassad för olika typer av enheter. Oavsett om du använder dig av mobilen eller datorn erbjuder mKey dig samma möjligheter. </p>
        </div>
    </div>

    <!--IMAGE 3-->
    <div class="row">
        <div class="photo3 img-responsive">
        </div>
    </div>

    <!--TEXT CONTENT 4 "VARFÖR MKEY"-->
    <div class="row">
        <div class="text-con4" id="varfor">
            <h2 class="text-center"><span class="glyphicon glyphicon-chevron-right" style="color: #32edcb; margin: 5px; text-align: center;"></span>Varför mKey?</h2>

            <div class="col-lg-12">
                <img src="~/images/uppdatering.jpg" class="center-block" />
                <p style="text-align: center; font-size: 18px;">Uppdatering</p>
                <p style="text-align: center;">Du har alltid tillgång till den senaste informationen, vilket gör det enkelt att uppdatera data utan att det uppstår problem. Du behöver inte bekymra dig över distributionen av informationen.</p>
            </div>

            <div class="col-lg-12">
                <img src="~/images/Logging.jpg" class="center-block" />
                <p style="text-align: center; font-size: 18px;">Loggning</p>
                <p style="text-align: center;">Med en komplett loggning kan man se vem som valt att hämta eller ändra en specifik inloggning. Om t.ex. en av era anställda väljer att sluta på företaget kan man enkelt se vilka inloggningar som just den personen har haft tillgång till och förnya dem. </p>
            </div>

            <div class="col-lg-12">
                <img src="~/images/larm.jpg" class="center-block" />
                <p style="text-align: center; font-size: 18px;">Larm</p>
                <p style="text-align: center;">Som användare av mKey kan man välja att få notiser vid onormal aktivitet på systemet. Exempelvis om någon efterfrågar en kod mitt i natten eller om någon efterfrågar en mängd koder under en kortare tidsperiod. </p>
            </div>


            <div class="col-lg-12">
                <img src="~/images/sms.jpg" class="center-block" />
                <p style="text-align: center; font-size: 18px;">SMS åtkomst</p>
                <p style="text-align: center;">Skapa, ändra, hämta och radera koder via SMS-instruktioner. Om dina användare behöver komma åt koder från fält där mobiltäckning är dålig finns SMS som ett alterntiv för att skapa/hämta och ändra koder.</p>
            </div>

            <div class="col-lg-12">
                <img src="~/images/activedirectory.jpg" class="center-block" />
                <p style="text-align: center; font-size: 18px;">Active Directory synkronisering</p>
                <p style="text-align: center;">Synkronisera användare och grupper från Active Directory för en central och enkel administration.</p>
            </div>

            <div class="col-lg-12">
                <img src="~/images/mer.jpg" class="center-block" />
                <p style="text-align: center; font-size: 18px;">...och mycket mer!</p>
                <p style="text-align: center;">mKey erbjuder massvis med funktionalitet som passar de flesta företagsmodellerna, för mer specifik information kontakta oss!</p>
            </div>
        </div>
    </div>
            <!--IMAGE 4-->
            <div class="row">
                <div class="photo4 img-responsive">
                </div>
            </div>


            <!--CONTACT FORM-->
            <div class="row">
                <div class="text-con3" id="contactForm">
                    <h2 class="text-center"><span class="glyphicon glyphicon-chevron-right" style="color: #32edcb; margin: 5px; text-align: center;"></span>Intresserad?</h2>
                    <p style="text-align: center;">Vill du ha en demonstration eller har funderingar gällande mKey? Tveka inte på att kontakta oss via följande formulär.</p>

                    <div class="col-md-4 col-md-offset-4">
                        <div class="well">
                            <form asp-controller="home" asp-action="sendMail" method="post">
                                <div class="form-group">
                                    <label asp-for="Namn">Namn:</label>
                                    <input asp-for="Namn" type="text" class="form-control" id="name" placeholder="Ditt namn">
                                    <span asp-validation-for="Namn" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Epost">E-post:</label>
                                    <input asp-for="Epost" type="email" class="form-control" id="email" placeholder="Din e-post adress">
                                    <span asp-validation-for="Epost" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Telefon">Telefon:</label>
                                    <input asp-for="Telefon" type="number" class="form-control" id="tele" placeholder="Ditt telefonnummer">
                                    <span asp-validation-for="Telefon" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Company">Företag:</label>
                                    <input asp-for="Company" type="text" class="form-control" id="company" placeholder="Ditt företagsnamn">
                                </div>
                                <div class="form-group">
                                    <label asp-for="Meddelande">Meddelande:</label>
                                    <textarea asp-for="Meddelande" class="form-control" rows="4" id="message" placeholder="Ditt meddelande"></textarea>
                                    <span asp-validation-for="Meddelande" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-default center-block" id="msgBtn">Skicka</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--IMAGE 2-->
            <div class="row">
                <div class="photo2 img-responsive">
                </div>
            </div>

            <!--NEWSLETTER-->
            <div class="row">
                <div class="text-con5" id="newsForm">
                    <h2 class="text-center"><span class="glyphicon glyphicon-chevron-right" style="color: #32edcb; margin: 5px; text-align: center;"></span>Nyhetsbrev</h2>
                    <p style="text-align: center;">Prenumerera gärna på våra nyhetsbrev som sänds ut varje vecka!</p>

                    <div class="col-md-4 col-md-offset-4">
                        <div class="well">
                            <form asp-controller="home" asp-action="getSubscriber">
                                <div class="form-group">
                                    <label asp-for="Epost">E-post adress:</label>
                                    <input asp-for="Epost" type="email" class="form-control" id="email" placeholder="Din e-post adress">
                                </div>
                                <button type="submit" value="submit" class="btn btn-default center-block" id="subBtn">Prenumerera</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--FOOTER-->
            <div class="row">
                <div class="text-footer" id="footer">
                    
                    <div class="col-md-4">
                        <row>
                            <h2>Kontakta oss</h2>
                            <br />
                            <p>Företagsnamn</p>
                            <p>+46 (0)12 3456 789</p>
                            <p><a href="mailto:support@företag.se">support@företag.se</a></p>
                            <hr />
                            <p>Kontaktperson</p>
                            <p>+46 (0)12 3456 789</p>
                            <p><a href="mailto:kontaktperson@företag.se">kontaktperson@företag.se</a></p>
                        </row>
                    </div>

                    <div class="col-md-4">
                        <row>
                            <h2>Adress</h2>
                            <br />
                            <p>Påhittevägen 3B, 96100 Staden</p>

                            <p>Påhittevägen 4B, 96101 Staden2</p>
                        </row>
                    </div>

                    <div class="col-md-4" style="text-align:center;">
                        <row>
                            <h2>Sociala Medier</h2>
                            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" id="socialMediaIcons"></i></a>
                            <a href="https://www.google.com" target="_blank"><i class="fa fa-google" id="socialMediaIcons"></i></a>
                            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" id="socialMediaIcons"></i></a>
                            <a href="https://www.github.com" target="_blank"><i class="fa fa-github" id="socialMediaIcons"></i></a>
                            <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" id="socialMediaIcons"></i></a>
                            <a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin" id="socialMediaIcons"></i></a>
                        </row>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <i class="pull-right" id="copyrightMark">&copy; <a href="http://www.tobnys.com" target="_blank">Tobias Nyström 2017 </a></i>
                    </div>
                </div>
            </div>
</div>

